body {
  padding-top: 70px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


.color{
    background-color: rgba(92, 39, 209, 0.5)

}
.float-start{
font-weight: 700;
padding: 2VW
}

.text-light {
    font-size: 1.5vw;
}
.caption{
   margin-top: -20vw; 
}
.btn-lg{
    border-color: purple;
    color: purple;
}
.lead{
  color: purple;
}
.fluid{
    width:5vw
}
.fb{
    width: 10vw;
}
.txt {
color: #5c27d1;
text-decoration: none;
}
.image{
    width: 50vw;
    height: 60vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 20vw;
}
form-check-input{
    background-color: rgb(155, 115, 155);
}
.password{
    text-decoration: none;

    color: purple;
    float: right;
}
