/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.post-back {
    background-color: #f1eded;
}
/* Hide scrollbar for Chrome, Safari and Opera */


/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
So w

.ourcolor {
    color: #460273;
}
@media screen and (min-width: 550px) {
    .marginals {
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgb(209, 207, 207);
    } 
}
@media screen and (max-width: 480px) {
    .marginals {
       width: 100%;
    } 
    .smallNav {
        width: 100%;
    }
}
.sgnbut {
    background-color: #460273;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    
}
div.showMenuNav{
display: block;
    position: absolute;
    width: 60%;
    height: 70vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn-blue {
  @apply  bg-blue-500 text-blue-100;
}
 
html, body, #app, #app>div, #root {
    height: 100%
  }

.body {
    display: table;
}

.signup-input{ 
    height: 50px; 
    border-radius:6px;
    background: transparent;
    padding-left: 17px; 
}
.float-start{
font-weight: 700;
padding: 2VW
}
.caption{
    color: #460273;
    font-size: 1.3rem;
    margin-top:-14rem;
    font-weight: 700;
    text-align: center;
    margin-left: -6rem;
}
.border-purple{
    border:1px solid #460273;
}

.ul-purple{
    color: 
    #460273;
    background-color: #f1eded;
}
.ul-purple2{
    color: 
    #460273;
    background-color: #fff;
}
.post-bgpurple{
    background-color: 
    #fff
}
.greytext{
    color: #3C3B3B;
}

.btn{
    background-color: #460273;
    color: white;
}
.btn-outline{
  background-color: white;
  color: #460273;
  border-color: #460273;
}
.float-start{
    color: #460273;
    font-weight: bold;
}

.fb{
    width: 10vw;
}
.fw-bolder{
    color: #460273;
}


.link_button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
.fonts15{
    font-size: 15px
}
.txt {
color: #460273;
text-decoration: none;
font-weight: 400;
}
form-check-input[type=checkbox]:checked {
    background-color: #460273
}

.text{
    color: black;
    font-weight: 800;
}
.password{
    text-decoration: none;

    color: #460273;
    float: right;
}
.float-end{
    float: right;
}
.list-style-type{
    list-style-type: disc;
}
@media screen and (max-width: 768px){
    .caption{
        margin-top: -7rem;
        font-size: 1rem;
        text-align: center;
        margin-left: auto;
    }

}
.terms{
    font-family: montserrat;
    color: 
    #460273;

}
.text1{

    border-bottom: 5px solid #460273;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin: auto;
    justify-content: center;
    padding-top: 2vw;
    width: 60%;
}
.btnsection{
    text-align: center;
}
.btn1{
    color: #460273;
    background-color: white;
    border: 1px solid #460273;
    margin: 3vw;
    padding:0.7vw;
}
.btn2{
    color: white;
    background-color: #460273;
    border: none;
    padding: 0.7vw;
  
}